<div>
<!-- <img src="../assets/ba11.jpg" alt="" width=100% height="90%"> -->
<div class = "content">
  <div class = "banner-image">
    <div class = "inner-banner-image">
      <div class = "banner_content">
      <h1> We sell lifestyle.</h1>
      <p>Flat 40% OFF on premium brands</p>
      <a class = "button">ShopNow</a>
      </div>
    </div>
  </div>
  </div>
<!-- next step -->
<h2 align="center">Trending items</h2>
<div>
<div class="card-deck">
  <div class="col-sm-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../assets/pc1.jpg" alt="">
  <div class="card-body">
    <h5 class="card-title" align="center">women</h5>
    <p class="card-text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, atque..
    </p>
  </div>
</div>
</div>
<div class="col-sm-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../assets/pc2.jpg" alt="">
    <div class="card-body">
      <h5 class="card-title"  align="center">men</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, commodi.
      </p>
    </div>
  </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../assets/pc4.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title"  align="center">women</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, facilis.
        </p>
      </div>
    </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/pc5.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title"  align="center">men</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, facilis.
          </p>
        </div>
        </div>
</div>
</div>
<div>
  <h3 align="center">Brands</h3>
<div class="brand">
  <div class="card-deck">
  <div class="col-md-3 brand-grid">
    <img src="../assets/ic3.png" class="img-responsive" alt="">
  </div>
  <div class="col-md-3 brand-grid">
    <img src="../assets/ic2.png" class="img-responsive" alt="">
  </div>
  <div class="col-md-3 brand-grid">
    <img src="../assets/ic1.png" class="img-responsive" alt="">
  </div>
  <div class="col-md-3 brand-grid">
    <img src="../assets/ic.png" class="img-responsive" alt="">
  </div>
  <div class="clearfix"></div>
</div>
</div>
</div>


</div>
<!-- footer -->
    <div class = "footerClass">
			<div class = "container">
				<p align = "center">Copyright &copy; 2016 Shopin. All Rights Reserved | Contact Us: +91 90000 00000</p>
			</div>
		
		</div>
